@media screen and (min-width: 1800px) {
    .containerone {
      max-width: 1800px;
      margin: auto;
    }
    }

  @media screen and (min-width: 375px) {
    .restaurants-pict {
      max-width: 330px;
      min-width: 280px;
    }
  }

  @media screen and (min-width: 650px) {
    .restaurants-pict {
      margin-right: 25px;
    }
    .cadre-prix {
     margin-right: -285px;
      width: 25%;
    }
    .office-choix {
      width: 500px;
     }
     .fa-tablet-alt{
      margin-left:12px;
    }
}
  
  @media screen and (min-width: 1024px) {
    .cadre-general {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
   
    }
    


    

  @media screen and (min-width: 1140px) {
    .cadre-general-entrees {
      margin-right: 10px;
    }
    
  }

  @media screen and (min-width: 1142px) {
    .cadre-general-plats {
      margin-right: 10px;
    }
  }

  @media screen and (min-width: 400px) and (max-width: 1024px) {
    .cadre-general-contenu {
      max-width: none;
    }
    
 
}

  @media screen and (min-width: 320px) and (max-width: 425px) {
    .cadre-general-contenu-plat h3 {
      text-overflow: ellipsis;
      white-space: nowrap;
     
    }
    .cadre-general-contenu-plat h4 {
      font-size: 14px;
      text-overflow: ellipsis;
      white-space: nowrap;
     
    }
   
  }
  
  @media screen and (max-width: 405px) {
    .cadre-general-contenu:hover .header-menu {
      max-width: 130px;
    }
  }
    
    
    
  @media screen and (min-width: 440px) and (max-width: 736px) {
    .office {
      font-weight: bold;
      font-size: 15px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 15px;
  } 
  
  
  }

  @media screen and (min-width: 375px) and (max-width: 667px) {
    
    .office {
      font-weight: bold;
      font-size: 15px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 15px;
  }
  .fa-tablet-alt {
    margin-left:12px;
  }
  
  }
  

  @media screen and (min-width: 640px) {
  
    .cadre-prix {
      
      margin-right: -220px;
      
    }
    .cadre-general-contenu:hover .header-menu {
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }



 