

$color-primaire:#9356DC ;
$color-secondaire:#FF79DA;
$color-tertiaire:#99E2D0;




body {
    box-sizing: border-box;
  }
  
  * {
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  .containerone {
    max-width: 2560px;
  }
  
  h2,h3,h4,h5,h6,p {
    font-family: "Roboto", sans-serif;
  }
  
  
  
  .containerone {
    max-width: 2560px;
  }

  /*HEADER*/
  header .logo{
    display:flex;
    justify-content:center;
    align-items:center;
   position:relative;
  }

  header {
    box-shadow: 0 0 0.80px #000;
    width: 100%;
    min-width: 320px;
    padding: 21px 0;
  }


  header .logo img {
    max-width: 168px;
  }

  