
@import "_vars";



body {
    box-sizing: border-box;
  
  }
  *{margin:0;
    padding:0;} 
  
  
  a {
    text-decoration: none;
    color: black;
  }
  
   h2,h3,h4,h5,h6,p {
    font-family: "Roboto", sans-serif;
  }
  
  .containerone {
    max-width:1900px;
    margin:0;
    padding:0;
  }

  .chargement{
    border:10px solid $color-violet;
    width:95px;
    height:95px;
    border-top:10px solid $color-vert;
    border-bottom:10px solid $color-vert;
    border-radius:50%;
    margin:auto;
    z-index: 10000;
    position:absolute;
    top:0; left:0; right:0; bottom:0;
    -webkit-animation:spin 3s linear forwards;
    -o-animation:spin 3s linear forwards;
    animation:spin 3s linear forwards;
  
  }
  
  @-webkit-keyframes spin{
  0% {
    -webkit-transform: rotate(0deg);
    opacity:1;
  }
  100%{
    -webkit-transform:rotate(360deg);
    opacity:0;
  }
  }
  
  @keyframes spin{
  0% {
    transform: rotate(0deg);
    opacity:1;
  }
  100%{
    transform:rotate(360deg);
    opacity:0;
  }
  }

    /*HEADER*/
  

    header {
      box-shadow: 0 0 0.80px #000;
      width: 100%;
      min-width: 320px;
      padding: 21px 0;
    }
    header .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    header .logo img {
      max-width: 168px;
    }
    
  

  
  .fa-arrow-left:before {
    position: absolute;
    left: 32px;
    height: 32px;
    width: 32px;
    top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    color: #000;
  }
  
  .fas {
    margin-right:19px;
  }

  /* MAPS */
.recherche-rest {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  padding: 20px 0;
  font-weight: bold;
  width: 100%;
}


/* PREFACE */
.reserve {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f6f6f6;
  padding: 40px 40px;
  margin-bottom: 50px;
}
.reserve-menus {
  font-weight: bold;
  font-size: 25px;
}

.reserve-decouvrir{
  margin-bottom:12px;
}





.reserve-explorer{
  padding: 12px 24px;
  border-radius: 30px;
  text-align: center;
  color: #FFF;
  font-weight: normal;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition: background-color 250ms;
  box-shadow: 4px 4px 10px #000000;
}
.reserve-explorer:hover {
  opacity: 0.8;
  box-shadow: 16px 16px 20px #000000;
}

/* ORGANISATION */
.office-titre {
  margin: 0 0 20px 22px;
}

.office {
  font-weight: bold;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  
  justify-content: space-between;
  padding: 0 15px;
}
.office h2 {
  margin: 0 0 30px 0;
}
.office-choix {
  margin: 0 20px 20px 40px;
  font-weight: bold;
  background-color: #F6F6F6;
  padding: 30px 50px 30px 18px;
  margin-left: 20px;
  text-align: center;
  border-radius: 20px;
  position: relative;
  font-family: "Roboto", sans-serif;
  width: 300px;
  max-height: 78px;
}
.office-choix:hover {
  background-color: #f5edff;
}
.office-choix:hover .fas {
  color: #9356DC;
}
.office-choix-nombre {
  width: 18px;
  height: 18px;
  padding: 4px 4px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #FFF;
  position: absolute;
  top: 30%;
  left: -4%;
}

/*LES RESTAURANTS*/
.restaurants {
  background-color: #f6f6f6;
}
.restaurants-conteneur {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.restaurants-titre {
  padding: 50px 0 10px 22px;
}
.restaurants-pict {
  border-radius: 20px;
  background-color: white;
  margin-bottom: 18px;
  position: relative;
  max-width: 280px;
  min-width: 280px;
}

.restaurants-pict img {
  width: 100%;
  max-height: 175px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.restaurants-pict .restaurants-pict-contenu {
  padding: 19px 11px;
  position: relative;
  display: flex;
}
.restaurants-pict .restaurants-pict-contenu h3 {
  margin-bottom: 6px;
}
.restaurants-pict .restaurants-pict-contenu .restaurants-pict-contenut-nom {
  position: relative;
}
@keyframes coeur-rempli-opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    background-image: linear-gradient(100deg, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition-duration: 250ms;
  }
  100% {
    opacity: 1;
    background-image: linear-gradient(100deg, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition-duration: 250ms;
    
  }
}
@keyframes coeur-vide-opacity1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.restaurants-pict .restaurants-pict-contenu .heart {
  position: absolute;
  right: 20px;
  
}
.restaurants-pict .restaurants-pict-contenu .heart-1 {
  position: relative;
}
.restaurants-pict .restaurants-pict-contenu .heart-1:hover {
  animation: coeur-vide-opacity1 1s;
}
.restaurants-pict .restaurants-pict-contenu .heart-2 {
  position: absolute;
  top: 0px;
  opacity: 0;
  color: #FFF;
}
.restaurants-pict .restaurants-pict-contenu .heart-2:hover {
  animation: coeur-rempli-opacity 1s forwards;
}
.restaurants .button-news {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 8px;
  border-radius: 2px;
  position: absolute;
  top: 16px;
  right: 12px;
}

/*LES BANNIERES*/
.picture-restaurant img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}

/*CADRE RESTAURANTS*/
.cadre-titre {
  font-family: "Shrikhand", cursive;
  max-width: 322px;
}

.fa-heart:before {
  margin-left: 20px;
}

.cadre {
  background-color: #F6F6F6;
  padding: 36px 21px;
  margin-top: -27px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  z-index: 1;
}
.cadre .far {
  align-self: flex-end;
}
.cadre h2 {
  margin-bottom: 35px;
}

.entrees {
  margin-bottom: 27px;
}
.entrees h2:after {
  content: "";
  display: block;
  width: 43px;
  height: 3px;
  background: #99E2D0;
}

@keyframes fadeInUp {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 60%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  } 

.cadre-general-entrees h2,
.cadre-general-plats h2,
.cadre-general-desserts h2 {
  font-weight: normal;
  font-size: 20px;
}

.cadre-general-contenu {
  background-color: #FFF;
  max-width: 350px;
  height: 70px;
  box-shadow: 4px 4px 16px #3F4143;
  padding: 0 0 0 16px;
  border-radius: 12px;
  margin: 16px 0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  animation: fadeInUp 1s;
}

.cadre-general-contenu-plat{
  width: 350px;
  padding: 14px 0;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  animation: fadeInUp 2s;
}

.cadre-general-contenu-plat h3 {
  font-size: 16px;
}

.cadre-general-contenu-plat h4 {
  font-size: 14px;
}

.cadre-general-contenu:hover .cadre-general-contenu-plat-confirmer {
  margin-right: 0px;
  min-width: 64px;
  transition: margin-right 0.5s;
}
.cadre-general-contenu:hover .header-menu {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cadre-general-contenu:hover .header-menu h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.cadre-general-contenu:hover .header-menu h4 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cadre-general-contenu:hover .cercle {
  transform: rotate(360deg);
}

.cadre-general-contenu-plat-confirmer {
  background-color: $color-vert;
  min-width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -64px;
}

.cercle {
  width: 26px;
  height: 26px;
  border-radius: 100px;
  background: #FFF;
  color:#99E2D0;
  display: flex;
  align-items: center;
  align-self: center;
  align-content: center;
  transition: transform 0.5s;
}
.cercle .fas {
  margin-left: 4px;
}

.center {
  text-align: center;
}

.cadre-prix {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  font-weight: bold;
  margin-right: 20px;
  width: 25%;
}

.header-menu {
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-overflow: ellipsis;
}
.header-menu h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.header-menu h4 {
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*BOUTON DE COMMANDE*/
.button-commande {
  padding: 30px 0 80px 0;
  text-align: center;
  background-color: #F6F6F6;
}
.button-commander {
  background-color: #9356DC;
  padding: 15px 50px;
  border-radius: 30px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #FFF;
  font-weight: normal;
  font-size: 18px;
  margin: 0 auto;
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition: background-color 250ms;
  box-shadow: 4px 4px 10px #000;
}
.button-commander:hover {
  opacity: 0.8;
  box-shadow: 16px 16px 20px #000;
}

/*FOOTER*/
footer {
  background-color: #353535;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 0px;
  max-width: 100%;
  min-width: 320px;
}
footer h3 {
  margin: 0 0 10px 20px;
  color: #fff;
  font-weight: normal;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
  color: #FFF;
}
.footer-logo {
  font-family: shrikhand, "cursive";
  margin-left:16px;
  font-size: 20px;
  margin-bottom: 15px;
  color: #fff;
  


}






@import "./_responsive";

/*RESPONSIVE */

























