

$color-violet:#9356DC ;
$color-rose:#FF79DA;
$color-vert:#99E2D0;
$color-box-shadow:#000;
$position-ideal: absolute;



body {
    box-sizing: border-box;
  }
  
  * {
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
   h2,h3,h4,h5,h6,p {
    font-family: "Roboto", sans-serif;
  }
  
  .containerone {
    max-width: 2560px;
  }

  .chargement{
    border:10px solid #D869EF;
    width:110px;
    height:110px;
    border-top:10px solid $color-vert;
    border-bottom:10px solid $color-vert;
    border-radius:50%;
    margin:auto;
    z-index: 10000;
    position:absolute;
    top:0; left:0; right:0; bottom:0;
    -webkit-animation:spin 3s linear forwards;
    -o-animation:spin 3s linear forwards;
    animation:spin 3s linear forwards;
  
  }
  
  @-webkit-keyframes spin{
  0% {
    -webkit-transform: rotate(0deg);
    opacity:1;
  }
  100%{
    -webkit-transform:rotate(360deg);
    opacity:0;
  }
  }
  
  @keyframes spin{
  0% {
    transform: rotate(0deg);
    opacity:1;
  }
  100%{
    transform:rotate(360deg);
    opacity:0;
  }
  }

    /*HEADER*/
  

  header {
    box-shadow: 0 0 0.80px #000;
    width: 100%;
    min-width: 320px;
    padding: 21px 0;
  
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .logo img {
    max-width: 168px;
  }
}

  
  .fa-arrow-left:before {
    position: $position-ideal;
    left: 32px;
    height: 32px;
    width: 32px;
    top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    color: #000;
  }
  
  .fas {
    margin-right:19px;
  }

  /* MAPS */

  .recherche-rest {
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
    padding: 20px 0;
    font-weight: bold;
    width: 100%;
  }


  /* PREFACE */
  .reserve {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f6f6f6;
    padding: 40px 40px;
    margin-bottom: 50px;
  
  .reserve-menus {
    font-weight: bold;
    font-size: 25px;
  }
  .reserve-explorer{
    padding: 12px 24px;
    border-radius: 30px;
    text-align: center;
    color: #FFF;
    font-weight: normal;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    background-image: linear-gradient($color-rose, $color-violet);
    transition: background-color 250ms;
    box-shadow: 4px 4px 10px #000000;
  }
  .reserve-explorer:hover {
    opacity: 0.8;
    box-shadow: 16px 16px 20px #000000;
     }
   }
  
  /* ORGANISATION */

  .office-titre {
    margin: 0 0 20px 22px;
  }
  
  .office {
    font-weight: bold;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;
  
  
  .office h2 {
    margin: 0 0 30px 0;
  }
 
  .office-choix {
    margin: 0 20px 20px 40px;
    font-weight: bold;
    background-color: #F6F6F6;
    padding: 30px 50px 30px 18px;
    margin-left: 20px;
    text-align: center;
    border-radius: 20px;
    position: relative;
    font-family: "Roboto", sans-serif;
    width: 300px;
    max-height: 78px;
  }
  .office-choix:hover {
    background-color: #f5edff;
  }
  .office-choix:hover .fas {
    color:$color-violet;
  }
  .office-choix-nombre {
    width: 18px;
    height: 18px;
    padding: 4px 4px;
    border-radius: 50%;
    background-color:$color-violet;
    color: #FFF;
    position: absolute;
    top: 30%;
    left: -4%;
  }
}
 
   /*LES RESTAURANTS*/
   .restaurants {
    background-color: #f6f6f6;
  }

  .restaurants-conteneur {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .restaurants-titre {
    padding: 50px 0 10px 22px;
  }
  .restaurants-pict {
    border-radius: 20px;
    background-color: white;
    margin-bottom: 18px;
    position: relative;
    max-width: 280px;
    min-width: 280px;
  }
  
  .restaurants-pict img {
    width: 100%;
    max-height: 175px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
  }
  .restaurants-pict .restaurants-pict-contenu {
    padding: 19px 11px;
    position: relative;
    display: flex;
  }
  .restaurants-pict .restaurants-pict-contenu h3 {
    margin-bottom: 6px;
  }
  .restaurants-pict .restaurants-pict-contenu .restaurants-pict-contenut-nom {
    position: relative;
  }
  @keyframes coeur-rempli-opacity {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
      background-image: linear-gradient(100deg, #9356DC, #FF79DA);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    100% {
      opacity: 1;
      background-image: linear-gradient(100deg, #9356DC, #FF79DA);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  @keyframes coeur-vide-opacity1 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  .restaurants-pict .restaurants-pict-contenu .cœur {
    position: $position-ideal;
    right: 20px;
    top: 1;
  }
  .restaurants-pict .restaurants-pict-contenu .cœur-1 {
    position: relative;
  }
  .restaurants-pict .restaurants-pict-contenu .cœur-1:hover {
    animation: coeur-vide-opacity1 1s;
  }
  .restaurants-pict .restaurants-pict-contenu .cœur-2 {
    position: $position-ideal;
    top: 0px;
    opacity: 0;
    color: #FFF;
  }
  .restaurants-pict .restaurants-pict-contenu .cœur-2:hover {
    animation: coeur-rempli-opacity 1s forwards;
  }
  .restaurants .button-news {
      background-color: $color-vert;
      color: #1b6150;
      padding: 8px;
      border-radius: 2px;
      position: absolute;
      top: 16px;
      right: 12px;
    }
    

  /*Bannière*/
  .picture-restaurant img {
    width: 100%;
    max-height: 250px;
    object-fit: cover
  }

  /*Carte restaurant*/
  .cadre-titre {
   font-family: "Shrikhand", cursive;
   max-width: 322px;
   
  }

  .fa-heart:before {
    margin-left: 20px;
  }
  
  .cadre {
    background-color: #F6F6F6;
    padding: 36px 21px;
    margin-top: -27px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    z-index: 1;
    
  }
  .cadre .far {
    align-self: flex-end;
  }
  .cadre h2 {
    margin-bottom: 35px;
  }

  .entrees {
    margin-bottom: 27px;
  }
  .entrees h2:after {
    content: "";
    display: block;
    width: 43px;
    height: 3px;
    background: #99E2D0;
  }

  .cadre-general-entrees h2, .cadre-general-plats h2, .cadre-general-desserts h2 {
  font-weight: normal;
  font-size: 20px;
  }

 

 @keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0)
  }
  100%  {
    opacity: 1;
    transform: scale(1);
  }
}


  

 
  